/* child */
.child > p {
	color: magenta;
}

/* descendant */
.descendant div p {
	color: magenta;
}

/* Adjacent siblings */
.adjacent-sibling div + p {
	color: magenta;
}

/* General siblings */
.general-sibling p ~ p {
	color: magenta;
}

/* Attribute */

/* Universal */
